#forminfo{
    padding: 20px;
   background-image: url("/assets/img/c2bfd4e470a2afa2414be492ecd38103.jpg");
    
    background-position: center;
    background-size: cover;
    
   color: #fff !important;
  }